<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curriculum Katherine Gabriela Amaya Sánchez </title>
    <link rel="stylesheet" href="katherine.css/katherine.css">
</head>
<body>

     <nav>

<style type="text/css">
      h1,h2{
         min-width: 99%;
         background: pink;
      }
   </style>
</head>
<body>
   
         
<style type="text/css">


      #color-name {
         color: black;
       
      }

#color-letra {
         color:  black;
       
      }

#color-texto {
         color:  maroon;
       
      }

#color-parrafo {
         color: purple ;
     
      }

body{

background-color: aqua ;



   </style>
</head>
<body>


</body>
</html>







<h1 id ="color-name" <h1 align ="right">Katherine Gabriela Amaya Sanchez </h1>
<hr width = "1400" color="black">

<img src="kath.jpeg" height="200" alt="foto de katherine">
<p id ="color-parrafo"<p align="right">Caserío el Rincon Cantón el rodeo, Jocoaitique Morazan.
<p id ="color-parrafo"<p align="right">Telf. Cel: 78052027 </h1>
<p id ="color-parrafo"<p align="right"> E-mail <a href=mailto:as19026@ues.edu.sv> katherineamaya2200@gmail.com </a> </h1>
<br>
<p id ="color-parrafo"<p<p align="right">E-mail <a href=mailto:katherineamaya2200@gmail.com>as19026@ues.edu.sv </a> </h1>
       
           
         </p>
      </nav>
   </header> 
   <br />
   
   <main>
      
      


<h2 id ="color-letra"<h2> INFORMACIÓN PERSONAL </h2>

<br>
<hr width = "1400" color="black">

<br>
<h3 id ="color-texto"<h3> Nacionalidad </h3> <p id ="color-parrafo"<p align="right" = >: Salvadoreña </h3>
<h3 id ="color-texto"<h3> Lugar de Nacimiento </h3>   <p id ="color-parrafo"<p    <p align="right">: San Miguel, San Miguel </h1>
<h3 id ="color-texto"<h3> Fecha de Nacimiento </h3>   <p id ="color-parrafo"<p   <p align="right">: 04-11-2000 </h1>
<p id ="color-parrafo"<p   <p align="right">(Cuatro de Noviembre del 2000)</h1>
<h3 id ="color-texto"<h3> Estado Civil  </h3>  <p id ="color-parrafo"<p   <p align= "right"> Soltera</h1>
<h3 id ="color-texto"<h3> Documento Unico de Identidad DUI </h3>    <p id ="color-parrafo"<p  <p align="right"> : 05985519-3 </h1>

<h2 id ="color-name" <h2> DATOS DE INSTRUCCIÓN </h2>
<hr  width = "1400"color="black">


<br>
<h3 id ="color-texto"<h3>Educacion Secundaria </h3>   <p id ="color-parrafo"<p  <p align="right">(Cuatro1° a 3° de secundaria Escuela Publica "Complejo Educativo Florinda de Juarez Alemán". 2016 - 2018 </h1>

<br>
<h3 id ="color-texto"<h2>Educación Primaría </h3>   <p id ="color-parrafo"<p  <p align="right">(Cuatro 1° a 9° de primaria  Escuela Publica "Complejo Educativo Florinda de Juarez Alemán". 2007 - 2015 </h1>
<br>
<br>
<br>
<br>
<h5 align=" left" >Currículum Vitae </h1>
      
</body>
</html>